body {
    color: var(--primary-text-color);
    background-color: var(--bg-color);
    font-family: 'Roboto', 'Raleway', sans-serif;
}

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --contact-footer-color: rgba(255, 255, 255, 0.6);
    --bg-color: #F5F5F5;
    --bg-header-color: #FFFFFF;
    --bg-team-color: #F5F4FA;
    --bg-footer-color: #2F303A;
    --link-hover-color: #2196F3;
    --logo-color: #000000;
}

/* Меню навігації */


.logo-first {
    color: var(--link-hover-color);
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;
}

.logo-second {
    color: var(--logo-color);
}

.list {
text-decoration: none;
    
}

.nav .link {
    color: var(--primary-text-color);   
}

.nav .link:hover,
.nav .link:focus {
    color: var(--link-hover-color);
    
}
.nav .link.current {
    color: var(--link-hover-color);
}
/* .contact {

} */
.contact .link {
    color: var(--title-text-color); 
    }


.contact .link:hover,
.contact .link:focus {
    color: var(--link-hover-color);
    
}

/* Рішення для бізнесу */

.business {
    background: var(--bg-footer-color);
}

.business .title {
    color: var(--bg-header-color);
}


.button {
    color: var(--bg-header-color);
    background-color: var(--link-hover-color);
}

.button.pointer {
    cursor: pointer;
}
/* Наші переваги */

.advantages .title {
    color: var(--primary-text-color);
}