:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --contact-footer-color: rgba(255, 255, 255, 0.6);
    --bg-color: #FFFFFF;
    --bg-team-color: #F5F4FA;
    --bg-footer-color: #2F303A;
    --link-hover-color: #2196F3;
    --logo-color: #000000;
}

body {
    color: var(--primary-text-color);
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}


/* Меню навігації */



.logo-first {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    color: var(--link-hover-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}

.logo-second {
    color: var(--logo-color);
}

.list {
    list-style: none;
    text-decoration: none; 
}

.nav .link {
    color: var(--primary-text-color); 
}

.nav .link:hover,
.nav .link:focus {
        color: var(--link-hover-color);
}

.nav .link.current {
    color: var(--link-hover-color);
}

/* .contact  */

.contact .link {
    color: var(--title-text-color); 
    }

.contact .link:hover,
.contact .link:focus {
    color: var(--link-hover-color);   
}

/* Рішення для бізнесу */

.hero {
    background-color: var(--bg-footer-color);
}

.hero .title {

    color: var(--bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.button {
    color: var(--bg-color);
    background-color: var(--link-hover-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.button.pointer {
    cursor: pointer;
}


/* Наші переваги */


.title {
    color: var(--primary-text-color);
    line-height: 1.14;
}

.text {
    color: var(--title-text-color);
    font-weight: 400;
    line-height: 1.71;
}


/* Чим ми займаємося */

.features {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


/* Наша команда */

.team {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    background-color: var(--bg-team-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.card {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    background-color: var(--bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


/* footer */


.footer {
    background-color: var(--bg-footer-color);
}

.logo-footer {
    color: var(--link-hover-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
}

.logo-footer-second {
    color: var(--bg-color);
}

.address-linl {
    color: var(--bg-color);  
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;      
}
.address-linl:hover,
.address-linl:focus {
color: var(--link-hover-color);
}

.address .link {
    color: var(--contact-footer-color);
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
}

.address .link:hover,
.address .link:focus {
    color: var(--link-hover-color);
}
